<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel='stylesheet' type="text/css" href='style.css' />
	<link rel="manifest" href="https://raw.githubusercontent.com/jfilipek1/stocks-app/master/manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="Stocks">
<meta name="apple-mobile-web-app-title" content="Stocks">
<meta name="msapplication-starturl" content="/index.html">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="img/logo.svg">
<link rel="apple-touch-icon" href="img/logo.svg">
  <title>Stocks</title>
</head>
<body class="grey lighten-3"">

  <!-- NAVBAR -->
  <nav class="z-depth-0 grey lighten-4">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        <img src="img/logo.svg" style="width: 180px; margin-top: 10px;">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="logged-in" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-account">Account</a>
          </li>
          <li class="logged-in" style="display: none;">
            <a href="#" class="grey-text" id="logout">Logout</a>
          </li>
          <li class="logged-in" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-create">Comment</a>
          </li>
          <li class="logged-out" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-login">Login</a>
          </li>
          <li class="logged-out" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-signup">Sign up</a>
          </li>
          <li class="logged-in" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-chart">Gold chart</a>
          </li>
          <li class="logged-out" style="display: none;">
            <a href="#" class="grey-text modal-trigger" data-target="modal-chart">Gold chart</a>
          </li>
        </span>
      </ul>
    </div>
  </nav>

  <!-- SIGN UP MODAL -->
  <div id="modal-signup" class="modal">
    <div class="modal-content">
      <h4>Sign up</h4><br />
      <form id="signup-form">
        <div class="input-field">
          <input type="email" id="signup-email" required />
          <label for="signup-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="signup-password" required />
          <label for="signup-password">Choose password</label>
        </div>
        <div class="input-field">
          <input type="text" id="signup-bio" required />
          <label for="signup-bio">One Line Bio</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Sign up</button>
      </form>
    </div>
  </div>

  <!-- LOGIN MODAL -->
  <div id="modal-login" class="modal">
    <div class="modal-content">
      <h4>Login</h4><br />
      <form id="login-form">
        <div class="input-field">
          <input type="email" id="login-email" required />
          <label for="login-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="login-password" required />
          <label for="login-password">Your password</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Login</button>
      </form>
    </div>
  </div>

  <!-- ACCOUNT MODAL -->
  <div id="modal-account" class="modal">
    <div class="modal-content center-align">
      <h4>Account details</h4><br />
      <div class="account-details"></div>
    </div>
  </div>

  <!-- CREATE GUIDE MODAL -->
  <div id="modal-create" class="modal">
    <div class="modal-content">
      <h4>Comment</h4><br />
      <form id="create-form">
        <div class="input-field">
          <input type="text" id="title" required>
          <label for="title">Title</label>
        </div>
        <div class="input-field">
          <textarea id="content" class="materialize-textarea" required></textarea>
          <label for="content">Content</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0">Post</button>
      </form>
    </div>
  </div>

<!-- CHART MODAL -->
  <div id="modal-chart" class="modal">
    <div class="modal-content">
      <h1>Gold price</h1>

		<canvas id="myChart"></canvas>

    <script>
			
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',

    data: {
        labels: [],
        datasets: [{
            label: 'Gold price 10 DAYS',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});

function getGoldPrices() {
            let method = "GET";
            let api = `http://api.nbp.pl/api/cenyzlota/last/10?format=json`;
            let xhr = new XMLHttpRequest();
            xhr.open(method, api);
            xhr.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    let gold = JSON.parse(this.responseText);
                    for(let i = 0; i < 10; i++) {
                        chart.data.labels.push(gold[i].data);
                        chart.data.datasets[0].data.push(gold[i].cena);
                        chart.update();
                    }
                }
            }
            xhr.send();
        }
		getGoldPrices();
    </script>
  </div>
    </div>
  </div>
						     
  <!-- GUIDE LIST -->
  <div class="container" style="margin-top: 40px;">
    <ul class="collapsible z-depth-0 guides" style="border: none;">

    </ul><br>
     <div id="app-instasearch">
	
		<div class="input-container">
			<input type="text" placeholder="Enter company name" v-model="authorNameSearchString" />
		</div>
		
		<transition-group tag="ul" name="list-animation">
			
			<li class="photo photo-animated" v-for="photo in filteredPhotoFeed" v-bind:key="photo.id">
				<img v-bind:src="photo.logo" /><br>
				<span class="name">{{ photo.name }}</span><br>
				<span class="code">{{ photo.code }}</span><br>
				<span class="price">Price: {{ photo.price }}</span><br>
				<span class="change">{{ photo.change }}</span>
			</li>
			
		</transition-group>
	
	</div>
	
	<script src="app.js"></script>  
			    
	
			    
  
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyDZJx9rClWwQo5yDEI7fTpPlwZWs8TqR0Q",
    authDomain: "stocks-app-pwa.firebaseapp.com",
    databaseURL: "https://stocks-app-pwa.firebaseio.com",
    projectId: "stocks-app-pwa",
    storageBucket: "stocks-app-pwa.appspot.com",
    messagingSenderId: "852790235589",
    appId: "1:852790235589:web:8a5555e34a132d3ac57bac"
  };
    firebase.initializeApp(config);
    
    // make auth and firestore references
    const auth = firebase.auth();
    const db = firebase.firestore();

    // update firestore settings
    db.settings({ timestampsInSnapshots: true });
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="scripts/auth.js"></script>
  <script src="scripts/index.js"></script>
</body>
</html>
